<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Войти</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<p></p>
<div class="container">
    <form class="form-signin" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Войдите</h1>
        <label for="inputEmail" class="sr-only">Login</label>
        <input id="inputEmail" name="login" class="form-control" placeholder="Login" required autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>