<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список заказов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="fragments/nav-bar :: nav-bar"></header>
<p></p>
<h3 class="container">Заказы</h3>
<main role="main" class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-2 themed-grid-col"><h5>Имя заказчика</h5></div>
            <div class="col-md-2 themed-grid-col"><h5>Email заказчика</h5></div>
            <div class="col-md-2 themed-grid-col"><h5>Телефон заказчика</h5></div>
            <div class="col-md-2 themed-grid-col"><h5>Заказ принят</h5></div>
            <div class="col-md-2 themed-grid-col"><h5>Заказ оплачен</h5></div>
            <div class="col-md-2 themed-grid-col"><h5>Заказ доставлен</h5></div>
        </div>
    </div>
    <div class="container" th:each="order : ${orders}">
        <div class="row">
            <div class="col-md-2 themed-grid-col" th:text="${order.customerName}">.col-md-1</div>
            <div class="col-md-2 themed-grid-col" th:text="${order.customerEmail}">.col-md-1</div>
            <div class="col-md-2 themed-grid-col" th:text="${order.customerPhone}">.col-md-1</div>
            <div class="col-md-2 themed-grid-col"><span th:if="${order.confirmed}">Принят</span><span th:unless="${order.confirmed}">Не принят</span></div>
            <div class="col-md-2 themed-grid-col"><span th:if="${order.paid}">Оплачен</span> <span th:unless="${order.paid}">Не оплачен</span></div>
            <div class="col-md-2 themed-grid-col"><span th:if="${order.delivered}">Доставлен</span> <span th:unless="${order.delivered}">Не доставлен</span></div>
            <a th:href="'orders/' + ${order.id}">Подробнее</a>
        </div>
    </div>
</main>

</body>
</html>