<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="fragments/nav-bar :: nav-bar"></header>
<p></p>
<h3 class="container">Товары</h3>
<div class="album py-5 bg-light" th:each="product : ${products}">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-text" th:text="${product.name}">Product name.</h5>
                        <div class="d-flex justify-content-between align-items-center" th:if="${authInfo.jwtToken != null}">
                            <div class="btn-group">
                                <form method="post" th:action="'products/' + ${product.id} + '/add'">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Добавить в корзину</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>